In [1]:
import os
import json
import pandas as pd
import mysql.connector

In [2]:
# 1 aggregated insurance:

path1 = "C:/Users/sagar/Desktop/Projects/pulse/data/aggregated/insurance/country/india/state/"
aggregated_insurance_list = os.listdir(path1)

columns1 = {"States":[], "Years":[], "Quarter":[], "name":[], "Transaction_count":[],"Transaction_amount":[] }

for state in aggregated_insurance_list:
    current_state = path1 + state + "/"
    aggregated_year_list = os.listdir(current_state)

    for year in aggregated_year_list:
        current_year = current_state + year + "/"
        aggregated_file_list = os.listdir(current_year)

        for file in aggregated_file_list:
            current_file = current_year + file
            data = open(current_file,"r")

            a = json.load(data)

            for i in a["data"]["transactionData"]:
                name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                columns1["name"].append(name)
                columns1["Transaction_count"].append(count)
                columns1["Transaction_amount"].append(amount)
                columns1["States"].append(state)
                columns1["Years"].append(year)
                columns1["Quarter"].append(int(file.strip(".json")))

aggregated_insurance = pd.DataFrame(columns1)

aggregated_insurance["States"] = aggregated_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_insurance["States"] = aggregated_insurance["States"].str.replace("-"," ")
aggregated_insurance["States"] = aggregated_insurance["States"].str.title()
aggregated_insurance["States"] = aggregated_insurance["States"].str.replace("dadra-&-nagar-haveli-&-daman-&-diu", "Dadra and Nagar Haveli and Daman and Diu")

In [3]:
# 2 aggregated transaction:

path2 = "C:/Users/sagar/Desktop/Projects/pulse/data/aggregated/transaction/country/india/state/"
agrgreator_transaction_list = os.listdir(path2)

columns2 ={"States":[], "Years":[], "Quarter":[], "Transaction_type":[], "Transaction_count":[],"Transaction_amount":[] }

for state in agrgreator_transaction_list:
    current_state = path2 +state+ "/"
    aggregated_year_list = os.listdir(current_state)
    
    for year in aggregated_year_list:
        current_year = current_state + year + "/"
        aggreated_file_list = os.listdir(current_year)
        
        for file in aggreated_file_list:
            current_file = current_year + file
            data = open(current_file,"r")

            a = json.load(data)

            for i in a["data"]["transactionData"]:
                name = i["name"]
                count = i["paymentInstruments"][0]["count"]
                amount = i["paymentInstruments"][0]["amount"]
                columns2["Transaction_type"].append(name)
                columns2["Transaction_count"].append(count)
                columns2["Transaction_amount"].append(amount)
                columns2["States"].append(state)
                columns2["Years"].append(year)
                columns2["Quarter"].append(int(file.strip(".json")))

aggregated_transaction = pd.DataFrame(columns2)

aggregated_transaction["States"] = aggregated_transaction["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
aggregated_transaction["States"] = aggregated_transaction["States"].str.replace("-"," ")
aggregated_transaction["States"] = aggregated_transaction["States"].str.title()
aggregated_transaction["States"] = aggregated_transaction["States"].str.replace("dadra-&-nagar-haveli-&-daman-&-diu", "Dadra and Nagar Haveli and Daman and Diu")

In [4]:
# 3 aggregated user:
path3 = "C:/Users/sagar/Desktop/Projects/pulse/data/aggregated/user/country/india/state/"
aggrrgated_user_list = os.listdir(path3)

columns3 = {"States":[], "Years":[], "Quarter":[], "Brands":[],"Transaction_count":[], "Percentage":[]}

for state in aggrrgated_user_list:
    current_state = path3+state+"/"
    aggregated_year_list = os.listdir(current_state)
    
    for year in aggregated_year_list:
        current_year = current_state + year + "/"
        aggreated_file_list = os.listdir(current_year)
        
        for file in aggreated_file_list:
            current_file = current_year + file
            data = open(current_file,"r")

            b = json.load(data)
            
            try:
                for i in b["data"]["usersByDevice"]:
                    brand = i["brand"]
                    count = i["count"]
                    percentage = i["percentage"]
                    columns3["Brands"].append(brand)
                    columns3["Transaction_count"].append(count)
                    columns3["Percentage"].append(percentage)
                    columns3["States"].append(state)
                    columns3["Years"].append(year)
                    columns3["Quarter"].append(int(file.strip(".json")))

            except:
                pass

aggregated_user = pd.DataFrame(columns3)

aggregated_user["States"] = aggregated_user["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
aggregated_user["States"] = aggregated_user["States"].str.title()
aggregated_user["States"] = aggregated_user["States"].str.replace("-", " ")
aggregated_user["States"] = aggregated_user["States"].str.replace("dadra-&-nagar-haveli-&-daman-&-diu", "Dadra and Nagar Haveli and Daman and Diu")

In [5]:
# 4 map insurance:
path4 = "C:/Users/sagar/Desktop/Projects/pulse/data/map/insurance/hover/country/india/state/"
map_insurance_list= os.listdir(path4)

columns4 = {"States":[], "Years":[], "Quarter":[], "Districts":[], "Transaction_count":[],"Transaction_amount":[] }

for state in map_insurance_list:
    cur_states =path4+state+"/"
    agg_year_list = os.listdir(cur_states)
    
    for year in agg_year_list:
        cur_years = cur_states+year+"/"
        agg_file_list = os.listdir(cur_years)

        for file in agg_file_list:
            cur_files = cur_years+file
            data = open(cur_files,"r")
            D = json.load(data)

            for i in D["data"]["hoverDataList"]:
                name = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns4["Districts"].append(name)
                columns4["Transaction_count"].append(count)
                columns4["Transaction_amount"].append(amount)
                columns4["States"].append(state)
                columns4["Years"].append(year)
                columns4["Quarter"].append(int(file.strip(".json")))


map_insurance = pd.DataFrame(columns4)

map_insurance["States"] = map_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
map_insurance["States"] = map_insurance["States"].str.replace("-"," ")
map_insurance["States"] = map_insurance["States"].str.title()
map_insurance['States'] = map_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [6]:
# 5 map_transaction:

path5 = "C:/Users/sagar/Desktop/Projects/pulse/data/map/transaction/hover/country/india/state/"
map_transaction_list = os.listdir(path5)

columns5 = {"States":[], "Years":[], "Quarter":[],"District":[], "Transaction_count":[],"Transaction_amount":[]}

for state in map_transaction_list:
    current_state = path5 + state + "/"
    map_year_list = os.listdir(current_state)
    
    for year in map_year_list:
        current_year = current_state + year + "/"
        map_file_list = os.listdir(current_year)

        for file in map_file_list:
            current_file = current_year + file 
            data = open(current_file,"r")
            
            c = json.load(data)

            for i in c["data"]["hoverDataList"]:
                name = i["name"]
                count = i["metric"][0]["count"]
                amount = i["metric"][0]["amount"]
                columns5["States"].append(state)
                columns5["Years"].append(year)
                columns5["Quarter"].append(int(file.strip(".json")))
                columns5["District"].append(name)
                columns5["Transaction_count"].append(count)
                columns5["Transaction_amount"].append(amount)

map_transaction = pd.DataFrame(columns5)

map_transaction["States"] = map_transaction["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
map_transaction["States"] = map_transaction["States"].str.title()
map_transaction["States"] = map_transaction["States"].str.replace("-", " ")
map_transaction["States"] = map_transaction["States"].str.replace("dadra-&-nagar-haveli-&-daman-&-diu", "Dadra and Nagar Haveli and Daman and Diu")

In [7]:
# 6 Map User:

path6 = "C:/Users/sagar/Desktop/Projects/pulse/data/map/user/hover/country/india/state/"
map_user_list = os.listdir(path6)

columns6 = {"States":[], "Years":[], "Quarter":[], "Districts":[], "RegisteredUser":[], "AppOpens":[]}

for state in map_user_list:
    current_state = path6 + state + "/"
    map_year_list = os.listdir(current_state)

    for year in map_year_list:
        current_year = current_state + year + "/"
        map_file_list = os.listdir(current_year)

        for file in map_file_list:
            current_file = current_year + file

            data = open(current_file, "r")
            
            d = json.load(data)

            for i in d["data"]["hoverData"].items():
                district = i[0]
                registereduser = i[1]["registeredUsers"]
                appopens = i[1]["appOpens"]
                columns6["Districts"].append(district)
                columns6["RegisteredUser"].append(registereduser)
                columns6["AppOpens"].append(appopens)
                columns6["States"].append(state)
                columns6["Years"].append(year)
                columns6["Quarter"].append(int(file.strip(".json")))

map_user = pd.DataFrame(columns6)

map_user["States"] = map_user["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
map_user["States"] = map_user["States"].str.title()
map_user["States"] = map_user["States"].str.replace("-", " ")
map_user["States"] = map_user["States"].str.replace("dadra-&-nagar-haveli-&-daman-&-diu", "Dadra and Nagar Haveli and Daman and Diu")

In [8]:
# 7 top transaction:

path7 = "C:/Users/sagar/Desktop/Projects/pulse/data/top/transaction/country/india/state/"
top_transaction_list = os.listdir(path7)

columns7 = {"States":[], "Years":[], "Quarter":[], "Entity":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_transaction_list:
    current_state = path7 + state + "/"
    top_year_list = os.listdir(current_state)

    for year in top_year_list:
        current_year = current_state + year + "/"
        top_file_list = os.listdir(current_year)

        for file in top_file_list:
            current_file = current_year + file
            data = open(current_file, "r")

            e = json.load(data)

            for i in e["data"]["districts"]:
                entityname = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                columns7["States"].append(state)
                columns7["Years"].append(year)
                columns7["Quarter"].append(int(file.strip(".json")))
                columns7["Entity"].append(entityname)
                columns7["Transaction_count"].append(count)
                columns7["Transaction_amount"].append(amount)

top_transaction = pd.DataFrame(columns7)

top_transaction["States"] = top_transaction["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
top_transaction["States"] = top_transaction["States"].str.title()
top_transaction["States"] = top_transaction["States"].str.replace("-", " ")
top_transaction["States"] = top_transaction["States"].str.replace("dadra-&-nagar-haveli-&-daman-&-diu", "Dadra and Nagar Haveli and Daman and Diu")

In [9]:
# 8 top user:

path8 = "C:/Users/sagar/Desktop/Projects/pulse/data/top/user/country/india/state/"
top_user_list = os.listdir(path8)

columns8 = {"States":[], "Years":[], "Quarter":[], "name":[], "registeredusers":[]}

for state in top_user_list:
    current_state = path8 + state + "/"
    top_year_list = os.listdir(current_state)

    for year in top_year_list:
        current_year = current_state + year + "/"
        top_file_list = os.listdir(current_year)

        for file in top_file_list:
            current_file = current_year + file
            data = open(current_file, "r")

            f = json.load(data)

            for i in f["data"]["districts"]:
                name = i["name"]
                registeredusers = i["registeredUsers"]
                columns8["States"].append(state)
                columns8["Years"].append(year)
                columns8["Quarter"].append(int(file.strip(".json")))
                columns8["name"].append(name)
                columns8["registeredusers"].append(registeredusers)
top_users = pd.DataFrame(columns8)
top_users["States"] = top_users["States"].str.replace("andaman-&-nicobar-islands", "Andaman & Nicobar")
top_users["States"] = top_users["States"].str.title()
top_users["States"] = top_users["States"].str.replace("-", " ")
top_users["States"] = top_users["States"].str.replace("dadra-&-nagar-haveli-&-daman-&-diu", "Dadra and Nagar Haveli and Daman and Diu")

In [10]:
# 9 top insurance:

path9 = "C:/Users/sagar/Desktop/Projects/pulse/data/top/insurance/country/india/state/"
top_insurance_list = os.listdir(path9)
columns9 = {"States":[], "Years":[], "Quarter":[], "Pincodes":[], "Transaction_count":[], "Transaction_amount":[]}

for state in top_insurance_list:
    current_states = path9+state+"/"
    top_year_list = os.listdir(current_states)

    for year in top_year_list:
        current_years = current_states+year+"/"
        top_file_list = os.listdir(current_years)

        for file in top_file_list:
            current_files = current_years+file
            data = open(current_files,"r")
            G = json.load(data)

            for i in G["data"]["pincodes"]:
                entityName = i["entityName"]
                count = i["metric"]["count"]
                amount = i["metric"]["amount"]
                columns9["Pincodes"].append(entityName)
                columns9["Transaction_count"].append(count)
                columns9["Transaction_amount"].append(amount)
                columns9["States"].append(state)
                columns9["Years"].append(year)
                columns9["Quarter"].append(int(file.strip(".json")))

top_insurance = pd.DataFrame(columns9)

top_insurance["States"] = top_insurance["States"].str.replace("andaman-&-nicobar-islands","Andaman & Nicobar")
top_insurance["States"] = top_insurance["States"].str.replace("-"," ")
top_insurance["States"] = top_insurance["States"].str.title()
top_insurance['States'] = top_insurance['States'].str.replace("Dadra & Nagar Haveli & Daman & Diu", "Dadra and Nagar Haveli and Daman and Diu")

In [11]:
# table creation
# Connect to MySQL
mydb = mysql.connector.connect(
    host='localhost',
    user='root',
    password='Sagar72427',
    port=3306,
    database='phonepe_database',
    auth_plugin='mysql_native_password'
)
cursor = mydb.cursor()

drop_query1 = '''drop table if exists aggregated_insurance_table'''
cursor.execute(drop_query1)
mydb.commit()

# aggregated insurance table:

create_query1 = '''create table if not exists aggregated_insurance_table(States varchar (50),
                                                                    Years int,
                                                                    Quarter int, 
                                                                    name varchar (50), 
                                                                    Transaction_count int, 
                                                                    Transaction_amount int)'''
cursor.execute(create_query1)
mydb.commit()

insert_query1 = '''insert into aggregated_insurance_table (States,Years, Quarter, name, Transaction_count, Transaction_amount)
                                                        values (%s, %s, %s, %s, %s, %s)'''
    
data = aggregated_insurance.values.tolist()
cursor.executemany(insert_query1, data)
mydb.commit()

In [12]:
# aggrgated_transaction table:
drop_query2 = '''drop table if exists aggregated_transaction_table'''
cursor.execute(drop_query2)
mydb.commit()

create_query2 = '''create table if not exists aggregated_transaction_table(States varchar (50),
                                                                           Years int,
                                                                           Quarter int,
                                                                           Transaction_type varchar (50),
                                                                           Transaction_count int,
                                                                           Transaction_amount bigint)'''
cursor.execute(create_query2)
mydb.commit()

insert_query2 = '''insert into aggregated_transaction_table (States, Years, Quarter, Transaction_type, Transaction_count, Transaction_amount)
                                                            values (%s, %s, %s, %s, %s, %s)'''

data = aggregated_transaction.values.tolist()
cursor.executemany(insert_query2, data)
mydb.commit()

In [13]:
# aggregated_user_table:
drop_query3 = '''drop table if exists aggregated_user_table'''
cursor.execute(drop_query3)
mydb.commit()

create_query3 = '''create table if not exists aggregated_user_table(States varchar(50),
                                                                    Years int,
                                                                    Quarter int,
                                                                    Brands varchar(50),
                                                                    Transaction_count bigint,
                                                                    Percentage float)'''
cursor.execute(create_query3)
mydb.commit()

insert_query3 = '''insert into aggregated_user_table(States, Years, Quarter, Brands, Transaction_count, Percentage)
                                                values (%s, %s, %s, %s, %s, %s)'''

data = aggregated_user.values.tolist()
cursor.executemany(insert_query3, data)
mydb.commit()

In [14]:
# map_insurance_table:
drop_query4 = '''drop table if exists map_insurance_table'''
cursor.execute(drop_query4)
mydb.commit()

create_query4 = '''create table if not exists map_insurance_table(States varchar (50),
                                                                Years int,
                                                                Quarter int,
                                                                District varchar (100),
                                                                Transaction_count bigint,
                                                                Transaction_amount bigint)'''
cursor.execute(create_query4)
mydb.commit()

insert_query4 = '''insert into map_insurance_table (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                                                values (%s, %s, %s,%s,%s,%s)'''

data = map_insurance.values.tolist()
cursor.executemany(insert_query4, data)
mydb.commit()

In [15]:
# map_transaction_table:
drop_query5 = '''drop table if exists map_transaction_table'''
cursor.execute(drop_query5)
mydb.commit()

create_query5 = '''create table if not exists map_transaction_table (States varchar (50),
                                                                     Years int,
                                                                     Quarter int,
                                                                     District varchar (100),
                                                                     Transaction_count bigint,
                                                                     Transaction_amount bigint)'''
cursor.execute(create_query5)
mydb.commit()

insert_query5 = '''insert into map_transaction_table (States, Years, Quarter, District, Transaction_count, Transaction_amount)
                                                values (%s,%s,%s,%s,%s,%s)'''
data = map_transaction.values.tolist()
cursor.executemany(insert_query5, data)
mydb.commit()

In [16]:
# map_user_table:
drop_query6 = '''drop table if exists map_user_table'''
cursor.execute(drop_query6)
mydb.commit()

create_query6 = '''create table if not exists map_user_table (States varchar (50),
                                                                     Years int,
                                                                     Quarter int,
                                                                     District varchar (100),
                                                                     RegisteredUser bigint,
                                                                     AppOpens bigint)'''
cursor.execute(create_query6)
mydb.commit()

insert_query6 = '''insert into map_user_table (States, Years, Quarter, District, RegisteredUser, AppOpens)
                                                values (%s,%s,%s,%s,%s,%s)'''
data = map_user.values.tolist()
cursor.executemany(insert_query6, data)
mydb.commit()

In [17]:
# top_insurance_table:
drop_query6 = '''drop table if exists top_insurance_table'''
cursor.execute(drop_query6)
mydb.commit()

create_query7 = '''create table if not exists top_insurance_table (States varchar (50),
                                                                   Years int,
                                                                   Quarter int,
                                                                   Pincodes bigint,
                                                                   Transaction_count bigint,
                                                                   Transaction_amount bigint)'''
cursor.execute(create_query7)
mydb.commit()

insert_query7 = '''insert into top_insurance_table ( States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values (%s,%s,%s,%s,%s,%s)'''

data = top_insurance.values.tolist()
cursor.executemany(insert_query7, data)
mydb.commit()

In [18]:
# top_transaction_table:
drop_query8 = '''drop table if exists top_transaction_table'''
cursor.execute(drop_query8)
mydb.commit()

create_query8 = '''create table if not exists top_transaction_table (States varchar (50),
                                                                   Years int,
                                                                   Quarter int,
                                                                   Pincodes varchar(50),
                                                                   Transaction_count bigint,
                                                                   Transaction_amount bigint)'''
cursor.execute(create_query8)
mydb.commit()

insert_query8 = '''insert into top_transaction_table(States, Years, Quarter, Pincodes, Transaction_count, Transaction_amount)
                                                    values( %s,%s,%s,%s,%s,%s)'''
data = top_transaction.values.tolist()
cursor.executemany(insert_query8, data)
mydb.commit()

In [19]:
# top_user_table:
drop_query9 = '''drop table if exists top_user_table'''
cursor.execute(drop_query9)
mydb.commit()

create_query9 = '''create table if not exists top_user_table (States varchar (50),
                                                                   Years int,
                                                                   Quarter int,
                                                                   Pincodes varchar(50),
                                                                   registeredusers bigint)'''
cursor.execute(create_query9)
mydb.commit()

insert_query9 = '''insert into top_user_table(States, Years, Quarter, Pincodes, registeredusers)
                                                    values( %s,%s,%s,%s,%s)'''
data = top_users.values.tolist()
cursor.executemany(insert_query9, data)
mydb.commit()